@page
@model WebRazor.Pages.Tarifas.TarifasModel
@{
    ViewData["Title"] = "Tarifas";
}

<div class="container linhas">
    <h1>Tarifas</h1>

    <form method="post">

        <div class="form-group">
            <input asp-for="busca" type="text" class="form-control" placeholder="Pesquisar">
        </div>
        <div class="form-group">
            <button asp-page-handler="Buscar" type="submit" class="btn btn-custom">Buscar</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.tarifas)
                {
                    <tr>
                        <td>@ticket.Price.ToString("C")</td>
                        <td>
                            <a class="btn btn-primary" asp-page="Edit" asp-route-id="@ticket.ID">Editar</a>
                            @*<button class="btn btn-danger" type="submit" asp-page-handler="delete" asp-route-id="@line.ID">Deletar</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-secondary" asp-page-handler="MostrarMais">Mostrar Mais</button>
        <a class="btn btn-success" asp-page="Create">Adicionar</a>
    </form>
</div>