@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_LayoutOut.cshtml";
}

<div id="capa">
    <div class="content">
        <h1>O transporte público ficou inteligente</h1>
        <a href="#QuemSomos"><i class="fas fa-sort-down"></i></a>
    </div>
</div>

<div id="QuemSomos" class="container-fluid">
    <div class="container wrapContent">
        <div class="row">
            <div class="col-md-6 col-sm-12 leftDiv">
                <h1>Uma forma inovadora de pagar passagem</h1>
                <p>Pague suas passagens de um jeito, rápido, fácil sem se preocupar com saldos!</p>
            </div>
            <div class="col-md-6 col-sm-12 rightDiv">
                <p>
                    Somos uma jovem startup de sediada em Belo
                    Horizonte.
                    Pensando em melhorar a vida de quem precisa do transporte pensamos em uma alternativa de
                    facilitar o pagamento do bilhete, passar informações mais precisas dos ônibus,
                    e ainda dar feedbacks para futuras melhorias, você só precisa do seu celular,
                    apontar
                    a câmera para o QR Code dentro do ônibus e pronto, sua passagem já está validada e você
                    liberado para
                    seguir viagem!
                </p>
            </div>
        </div>
    </div>
</div>

<div id="ComoFunciona" class="container-fluid">
    <div class="container wrapContent">
        <h1>Como Funciona?</h1>
        <p>Da uma olha aqui em baixo, a gente te explica direitinho como usar</p>

        <div class="info">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Imagens/Icones/password.svg" class="img-fluid" alt="">
                    <h3>Crie a sua Conta</h3>
                    <p>Você pode se juntar a blu e a transformação do transporte público fazendo seu cadastro pelo site ou pelo aplicativo.</p>
                </div>
                <div class="col-md-6">
                    <img src="~/Imagens/Icones/wallet.svg" class="img-fluid" alt="">
                    <h3>Cadastre seu cartão</h3>
                    <p>Já saiu de casa e percebeu que esqueceu o dinheiro? Não precisa se preocupar, cadastre seu cartão no aplicativo e faça seus pagamentos por ele, simples assim.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="~/Imagens/Icones/qr.svg" class="img-fluid" alt="">
                    <h3>Leia o QR Code</h3>
                    <p>
                        O QR Code está te esperando próximo a roleta, é só clicar em pagar
                        passagem e apontar a câmera.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/Imagens/Icones/smartphone.svg" class="img-fluid" alt="">
                    <h3>Agora é com você</h3>
                    <p>Coloque aquele fone de ouvido e siga viagem ouvindo aquela música que você mais gosta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Contato" class="container-fluid">
    <div class="container wrapContent">
        <h1>Entre em Contato</h1>
        <p>Tem alguma coisa para falar com a gente?</p>

        <div class="info">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Imagens/Icones/address.svg" class="img-fluid" alt="">
                    <h5>onde estamos</h5>
                    <p>R. Paraíba, 330 - 17º Andar Funcionários, Belo Horizonte - MG</p>
                </div>
                <div class="col-md-4">
                    <img src="~/Imagens/Icones/outgoing-call.svg" class="img-fluid" alt="">
                    <h5>liga pra gente</h5>
                    <p>+55 (31) 9 9289-4942<br />+55 (31) 9 9875-7298</p>
                </div>
                <div class="col-md-4">
                    <img src="~/Imagens/Icones/message.svg" class="img-fluid" alt="">
                    <h5>nosso email</h5>
                    <p>contato@bluapp.com.br</p>
                </div>
            </div>
        </div>
    </div>
</div>